In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/Dataset/Titanic-Dataset.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [4]:
fare = df[['Fare']]
print("Fare DataFrame:")
print(fare.head())

Fare DataFrame:
      Fare
0   7.2500
1  71.2833
2   7.9250
3  53.1000
4   8.0500

In [5]:
class_age = df[['Pclass', 'Age']]

print("\nClass and Age DataFrame:")
print(class_age.head())

Class and Age DataFrame:
   Pclass   Age
0       3  22.0
1       1  38.0
2       3  26.0
3       1  35.0
4       3  35.0

In [6]:
survived_gender = df[['Survived', 'Sex']]

print("\nSurvived and Gender DataFrame:")
print(survived_gender.head())

Survived and Gender DataFrame:
   Survived     Sex
0         0    male
1         1  female
2         1  female
3         1  female
4         0    male

In [8]:

df.info()

fare = df[['Fare']]
print("Fare DataFrame:")
print(fare.head())

class_age = df[['Pclass', 'Age']]
print("\nClass and Age DataFrame:")
print(class_age.head())

survived_gender = df[['Survived', 'Sex']]
print("\nSurvived and Gender DataFrame:")
print(survived_gender.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
Fare DataFrame:
      Fare
0   7.2500
1  71.2833
2   7.9250
3  53.1000
4   8.0500

Class and Age DataFrame:
   Pclass   Age
0       3  22.0
1       1  38.0
2       3  26.0
3       1  35.0
4       3  35.0

Survived and Gender DataFrame:
   Survived     Sex
0         0    male
1         1  female
2         1  female
3         1  female
4         0    male

In [9]:
fare_gt_100 = df[df['Fare'] > 100]

print("Passengers with fare greater than 100:")
print(fare_gt_100.head())

Passengers with fare greater than 100:
     PassengerId  Survived  Pclass  \
27            28         0       1
31            32         1       1
88            89         1       1
118          119         0       1
195          196         1       1

                                               Name     Sex   Age  SibSp  \
27                   Fortune, Mr. Charles Alexander    male  19.0      3
31   Spencer, Mrs. William Augustus (Marie Eugenie)  female   NaN      1
88                       Fortune, Miss. Mabel Helen  female  23.0      3
118                        Baxter, Mr. Quigg Edmond    male  24.0      0
195                            Lurette, Miss. Elise  female  58.0      0

     Parch    Ticket      Fare        Cabin Embarked
27       2     19950  263.0000  C23 C25 C27        S
31       0  PC 17569  146.5208          B78        C
88       2     19950  263.0000  C23 C25 C27        S
118      1  PC 17558  247.5208      B58 B60        C
195      0  PC 17569  146.5208          B80        C

In [10]:
first_class = df[df['Pclass'] == 1]

print("\nFirst Class Passengers:")
print(first_class.head())

First Class Passengers:
    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
6             7         0       1
11           12         1       1
23           24         1       1

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                             McCarthy, Mr. Timothy J    male  54.0      0
11                           Bonnell, Miss. Elizabeth  female  58.0      0
23                       Sloper, Mr. William Thompson    male  28.0      0

    Parch    Ticket     Fare Cabin Embarked
1       0  PC 17599  71.2833   C85        C
3       0    113803  53.1000  C123        S
6       0     17463  51.8625   E46        S
11      0    113783  26.5500  C103        S
23      0    113788  35.5000    A6        S

In [11]:
female_under_18 = df[(df['Age'] < 18) & (df['Sex'] == 'female')]

print("\nFemale Passengers Under 18:")
print(female_under_18.head())

Female Passengers Under 18:
    PassengerId  Survived  Pclass                                  Name  \
9            10         1       2   Nasser, Mrs. Nicholas (Adele Achem)
10           11         1       3       Sandstrom, Miss. Marguerite Rut
14           15         0       3  Vestrom, Miss. Hulda Amanda Adolfina
22           23         1       3           McGowan, Miss. Anna "Annie"
24           25         0       3         Palsson, Miss. Torborg Danira

       Sex   Age  SibSp  Parch   Ticket     Fare Cabin Embarked
9   female  14.0      1      0   237736  30.0708   NaN        C
10  female   4.0      1      1  PP 9549  16.7000    G6        S
14  female  14.0      0      0   350406   7.8542   NaN        S
22  female  15.0      0      0   330923   8.0292   NaN        Q
24  female   8.0      3      1   349909  21.0750   NaN        S

In [12]:
embarked_c_or_s = df[df['Embarked'].isin(['C', 'S'])]

print("\nPassengers Embarked at 'C' or 'S':")
print(embarked_c_or_s.head())

Passengers Embarked at 'C' or 'S':
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [14]:
first_second_class = df[df['Pclass'].isin([1, 2])]

print("\nFirst and Second Class Passengers:")
print(first_second_class.head())

First and Second Class Passengers:
    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
6             7         0       1
9            10         1       2
11           12         1       1

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                             McCarthy, Mr. Timothy J    male  54.0      0
9                 Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
11                           Bonnell, Miss. Elizabeth  female  58.0      0

    Parch    Ticket     Fare Cabin Embarked
1       0  PC 17599  71.2833   C85        C
3       0    113803  53.1000  C123        S
6       0     17463  51.8625   E46        S
9       0    237736  30.0708   NaN        C
11      0    113783  26.5500  C103        S

In [18]:
df['Age'] = df['Age'].fillna(df['Age'].median())

In [17]:
df['fare per year'] = df['Fare'] / df['Age']

In [16]:
high_fare_age = df[df['fare per year'] > 5]

KeyError: 'fare per year'

In [15]:
high_fare_age_srt = high_fare_age.sort_values(by='fare per year', ascending=False)

NameError: name 'high_fare_age' is not defined

In [19]:
result = high_fare_age_srt[['Name', 'fare per year']]

NameError: name 'high_fare_age_srt' is not defined

In [20]:
print(result.head())

NameError: name 'result' is not defined

In [21]:
df['fare per class'] = df['Fare'] / df['Pclass']

In [22]:
adult_males = df[(df['Age'] >= 18) & (df['Sex'] == 'male')]

In [23]:
adult_males_srt = adult_males.sort_values(by='fare per class', ascending=False)

In [24]:
result = adult_males_srt[['Name', 'Age', 'fare per class']]

In [25]:
print(result.head())

                                   Name   Age  fare per class
737              Lesurer, Mr. Gustave J  35.0        512.3292
679  Cardeza, Mr. Thomas Drake Martinez  36.0        512.3292
438                   Fortune, Mr. Mark  64.0        263.0000
27       Fortune, Mr. Charles Alexander  19.0        263.0000
118            Baxter, Mr. Quigg Edmond  24.0        247.5208

In [26]:
total_fare = df['Fare'].sum()

In [27]:
first_class_fare = df[df['Pclass'] == 1]['Fare'].sum()

In [28]:
second_class_fare = df[df['Pclass'] == 2]['Fare'].sum()

third_class_fare = df[df['Pclass'] == 3]['Fare'].sum()

In [29]:
fare_totals = [first_class_fare, second_class_fare, third_class_fare]

In [30]:
fare_percentage = [total_fare / total_fare * fare for fare in fare_totals]

fare_percentage = [round(fare * 100, 2) for fare in fare_percentage]
print(fare_percentage)

[1817741.25, 380184.17, 671469.51]

In [31]:
def categorize_age(age):
    if age < 18:
        return 'child'
    elif age >= 18 and age < 65:
        return 'adult'
    else:
        return 'senior'

df['age group'] = df['Age'].apply(categorize_age)

In [32]:
total_passengers = df.shape[0]

In [35]:
age_group_percentage = (age_group_counts / total_passengers) * 100

NameError: name 'age_group_counts' is not defined

In [37]:
from google.colab import files
import pandas as pd

# Load the Titanic dataset
df = pd.read_csv('/content/drive/MyDrive/Dataset/Titanic-Dataset.csv')

# Fill missing values in 'Age' column with median
df['Age'] = df['Age'].fillna(df['Age'].median())

# 1. Highest fare paid relative to their age
df['fare per year'] = df['Fare'] / df['Age']
high_fare_age = df[df['fare per year'] > 5]
high_fare_age_srt = high_fare_age.sort_values(by='fare per year', ascending=False)
result = high_fare_age_srt[['Name', 'fare per year']]
print(result.head())

# 2. Adult male passenger paid the highest fare relative to their class
df['fare per class'] = df['Fare'] / df['Pclass']
adult_males = df[(df['Age'] >= 18) & (df['Sex'] == 'male')]
adult_males_srt = adult_males.sort_values(by='fare per class', ascending=False)
result = adult_males_srt[['Name', 'Age', 'fare per class']]
print(result.head())

# 3. Percent of total fare revenue by class
total_fare = df['Fare'].sum()
first_class_fare = df[df['Pclass'] == 1]['Fare'].sum()
second_class_fare = df[df['Pclass'] == 2]['Fare'].sum()
third_class_fare = df[df['Pclass'] == 3]['Fare'].sum()
fare_totals = [first_class_fare, second_class_fare, third_class_fare]
fare_percentage = [round(fare / total_fare * 100, 2) for fare in fare_totals]
print(fare_percentage)

# 4. Percent of passengers in each age group
def categorize_age(age):
    if age < 18:
        return 'child'
    elif age >= 18 and age < 65:
        return 'adult'
    else:
        return 'senior'

df['age group'] = df['Age'].apply(categorize_age)
total_passengers = df.shape[0]
age_group_counts = df['age group'].value_counts()
age_group_percentage = age_group_counts / total_passengers * 100
print(age_group_percentage)

                                Name  fare per year
305   Allison, Master. Hudson Trevor     164.728261
297     Allison, Miss. Helen Loraine      75.775000
386  Goodwin, Master. Sidney Leonard      46.900000
164     Panula, Master. Eino Viljami      39.687500
183        Becker, Master. Richard F      39.000000
                                   Name   Age  fare per class
737              Lesurer, Mr. Gustave J  35.0        512.3292
679  Cardeza, Mr. Thomas Drake Martinez  36.0        512.3292
438                   Fortune, Mr. Mark  64.0        263.0000
27       Fortune, Mr. Charles Alexander  19.0        263.0000
118            Baxter, Mr. Quigg Edmond  24.0        247.5208
[63.35, 13.25, 23.4]
age group
adult     86.083053
child     12.682379
senior     1.234568
Name: count, dtype: float64